{% load static %}

<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 w-full items-center justify-around  sm:gap-8 pt-12">
    
        
    <div  class="card border-error  border-2 bg-error/20 shadow-none h-full ">
        <div class="card-body p-3">
          <h3 class="card-title text-error mb-2.5">
            <span></span>
            Email</h3>
          <p class="font-normal">Contactanos via gmail. Responderemos lo antes posible.</p>
          <button class="btn btn-gradient btn-error btn-lg mt-8"><span class="icon-[tabler--brand-gmail] size-6"></span> Acceder</button>
        </div>
      </div>
      
      <div  class="card border-success  border-2 bg-success/20 shadow-none">
        <div class="card-body p-3">
            <h3 class="card-title text-success mb-2.5">
              <span></span>
              Whatsapp</h3>
            <p class="font-normal" >Aproveche las ventajas de una red social.</p>
            <button class="btn btn-gradient btn-success btn-lg mt-8"><span class="icon-[tabler--brand-whatsapp] size-6"></span> Acceder</button>
          </div>
      </div>
      <div  class="card border-info  border-2 bg-info/20 shadow-none">
        <div class="card-body p-3">
            <h3 class="card-title text-info mb-2.5">
              <span></span>
              Forum</h3>
            <p class="font-normal">Acceda a las últimas noticias y temas de los usuarios.</p>
            <a href="{% url "forum_view" %}" class="btn btn-gradient btn-info btn-lg mt-8"><span class="icon-[tabler--users-group] size-6"></span> Acceder</a>
          </div>
      </div>
      <div  class="card border-primary border-2 bg-primary/20 shadow-none">
        <div class="card-body p-3">
            <h3 class="card-title text-primary mb-2.5">
              <span></span>
              Donar</h3>
            <p class="font-normal">Ayúdanos a crecer y hagamos de esta una gran nación</p>
            <a href="{% url "donation" %}" class="btn btn-gradient btn-primary btn-lg mt-8"><span class="icon-[tabler--brand-coinbase] size-6"></span> Acceder</a>
          </div>
      </div>

    
      
      
  </div>

