{% csrf_token %}
<div id="add-filter-modal" class="overlay modal overlay-open:opacity-100 hidden [--overlay-backdrop:static]" role="dialog" tabindex="-1" data-overlay-keyboard="false">
    <div class="modal-dialog overlay-open:opacity-100 ">
      <div class="modal-content">
        <div class="modal-header p-3">
          <h3 class="modal-title">Añadir filtro</h3>
          <button type="button" class="btn btn-text btn-circle btn-sm absolute end-3 top-3" aria-label="Close" data-overlay="#add-filter-modal">
            <span class="icon-[tabler--x] size-4"></span>
          </button>
        </div>
        <div class="modal-header p-3">
          <div class="flex justify-between items-center gap-4 w-full">
            <div class="input-group bg-transparent ">
                
            </div>
          </div>
        </div>
        <div class="modal-body px-3">
          <form 
          hx-get="{% url 'cards_filter_result' %}" 
            hx-trigger="submit" 
            hx-target="#search-results" 
            hx-indicator="#spinerFilterAllMyAlbumCards"
          >
            <input type="hidden" name="filters" value="{{ filters|default_if_none:'{}'|escapejs }}">
            {% csrf_token %}
            <div class="col-span-2">
              <label class="label label-text" for="card_type">Tipo de carta:</label>
              <select required class="select select-sm" name='type' id="card_type" onchange="handleCardTypeChange()">
                <option value="" disabled selected>--- Selecciona el tipo de carta ---</option>
                <option value="Monster">Monstruo</option>
                <option value="Spell Card">Magia</option>
                <option value="Trap Card">Trampa</option>
              </select>
            </div>
            <div class="grid grid-cols-2 gap-4">
              <div class="col-span-1" id="atk-container" style="display: none;">
                <label class="label label-text" for="card_atk">ATK:</label>
                <div class="input-group">
                  <input type="number" class="input grow input-sm" min="0" placeholder="1500" step="100" name="card_atk" id="card_atk">
                  <label class="sr-only" for="card_atk">ATK</label>
                </div>
              </div>
              
              <div class="col-span-1" id="def-container" style="display: none;">
                <label class="label label-text" for="card_def">DEF:</label>
                <div class="input-group">
                  <input type="number" class="input grow input-sm" min="0" placeholder="1000" step="100" name="def" id="card_def">
                  <label class="sr-only" for="card_def">DEF</label>
                </div>
              </div>
  
              <div class="col-span-1" id="lvl-container" style="display: none;">
                <label class="label label-text" for="card_lvl">LVL:</label>
                <div class="input-group">
                  <input type="number" class="input grow input-sm" min="1" placeholder="4" step="1" name="level" id="card_lvl">
                  <label class="sr-only" for="card_lvl">LVL</label>
                </div>
              </div>
              
              <div class="col-span-1">
                <label class="label label-text" for="card_rarity">Rareza</label>
                <select class="select select-sm" name='rarity' id="card_rarity">
                  <option value="" selected>--- Selecciona la rareza ---</option>
                  <option value="1">Comun</option>
                  <option value="2">Rare</option>
                  <option value="3">Super rare</option>
                  <option value="4">Ultra rare</option>
                  <option value="5">Secret rare</option>
                </select>
              </div>
              
              <div class="col-span-1" id="attribute-container" style="display: none;">
                <label class="label label-text" for="card_attribute">Atributo:</label>
                <div class="input-group">
                  <select class="select select-sm" name='card_attribute' id="card_attribute">
                    <option value="" selected>--- Selecciona un atributo ---</option>
                    <option value="1">Fuego</option>
                      <option value="2">Agua</option>
                      <option value="3">Viento</option>
                      <option value="4">Tierra</option>
                      <option value="5">Oscuridad</option>
                      <option value="6">Luz</option>
                      <option value="7">Divinidad</option>
                  </select>
                  <label class="sr-only" for="card_attribute">Atributo</label>
                </div>
              </div>
  
              <div class="col-span-1" id="monster-type-container" style="display: none;">
                <label class="label label-text" for="monster_type">Tipo:</label>
                <div class="input-group">
                  <select class="select select-sm" name='monster_type' id="monster_type">
                    <option value="" selected>--- Selecciona el tipo de monstruo ---</option>
                    <option value="Normal">Normal</option>
                    <option value="Effect">Effect</option>
                    <option value="Fusion">Fusion</option>
                    <option value="Ritual">Ritual</option>
                    <option value="Synchro">Synchro</option>
                    <option value="Xyz">Xyz</option>
                    <option value="Pendulum">Pendulum</option>
                    <option value="Link">Link</option>
                  </select>
                  <label class="sr-only" for="monster_type">Tipo</label>
                </div>
              </div>
              
              <div class="col-span-1" id="spell-type-container" style="display: none;">
                <label class="label label-text" for="spell_type">Tipo de Magia:</label>
                <div class="input-group">
                  <select class="select select-sm" name='spell_type' id="spell_type">
                    <option value="" selected>--- Selecciona el tipo de magia ---</option>
                    <option value="Normal">Normal</option>
                    <option value="Continuous">Continuous</option>
                    <option value="Equip">Equip</option>
                    <option value="Field">Field</option>
                    <option value="Quick-Play">Quick-Play</option>
                    <option value="Ritual">Ritual</option>
                  </select>
                  <label class="sr-only" for="spell_type">Tipo de Magia</label>
                </div>
              </div>
              
              <div class="col-span-1" id="trap-type-container" style="display: none;">
                <label class="label label-text" for="trap_type">Tipo de Trampa:</label>
                <div class="input-group">
                  <select class="select select-sm" name='trap_type' id="trap_type">
                    <option value="" selected>--- Selecciona el tipo de trampa ---</option>
                    <option value="Normal">Normal</option>
                    <option value="Continuous">Continuous</option>
                    <option value="Counter">Counter</option>
                  </select>
                  <label class="sr-only" for="trap_type">Tipo de Trampa</label>
                </div>
              </div>
              <div class="col-span-2" id="archetype-container">
                <label class="label label-text" for="archetype">Arquetipo:</label>
                <div class="input-group">
                  <select class="select select-sm" name='archetype' id="archetype">
                    <option value="" selected>--- Selecciona un aquetipo ---</option>
                    <option value="Albaz">Albaz</option>
                    <option value="Abyss Actor">Abyss Actor</option>
                    <option value="Adamancipator">Adamancipator</option>
                    <option value="Adventurer Token">Adventurer Token</option>
                  </select>
                </div>
              </div>

              <div class="col-span-2 flex justify-end items-end">
                  
                <div class="w-full flex justify-end gap-3">
                  <button type="submit" aria-haspopup="dialog" aria-expanded="false" aria-controls="add-card-modal" data-overlay="#add-card-modal" 
                    class="btn btn-gradient btn-primary tooltip [--placement:bottom] flex items-center">
                    <span id="spinerFilterAllMyAlbumCards" class="loading loading-dots htmx-indicator me-1"></span>                    
                    Filtrar
                    {% comment %} Title here {% endcomment %}
                  </button>
                  <button 
                  hx-get="{% url 'cards_filter_result' %}" 
                  hx-trigger="click" 
                  hx-target="#search-results" 
                  hx-indicator="#spinerCleanAllMyAlbumCards"
                  type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="add-card-modal" data-overlay="#add-card-modal" 
                    class="btn btn-gradient btn-error tooltip [--placement:bottom] flex items-center">
                    <span id="spinerCleanAllMyAlbumCards" class="loading loading-dots htmx-indicator me-1"></span>                    
                    Limpiar filtros
                    {% comment %} Title here {% endcomment %}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function handleCardTypeChange() {
      const cardType = document.getElementById('card_type').value;
      const lvlContainer = document.getElementById('lvl-container');
      const atkContainer = document.getElementById('atk-container');
      const defContainer = document.getElementById('def-container');
      const cardAttributeContainer = document.getElementById('attribute-container');
      const cardAttribute = document.getElementById('card_attribute');
      const monsterTypeContainer = document.getElementById('monster-type-container');
      const spellTypeContainer = document.getElementById('spell-type-container');
      const trapTypeContainer = document.getElementById('trap-type-container');
  
      if (cardType === 'monstruo') {
        lvlContainer.style.display = 'block';
        atkContainer.style.display = 'block';
        defContainer.style.display = 'block';
        spellTypeContainer.style.display = 'none';
        trapTypeContainer.style.display = 'none';
        cardAttributeContainer.style.display = 'block';
        monsterTypeContainer.style.display = 'block';
  
        // Load attributes for "Monstruo"
        cardAttribute.innerHTML = `
          <option value="1">Fuego</option>
          <option value="2">Agua</option>
          <option value="3">Viento</option>
          <option value="4">Tierra</option>
          <option value="5">Oscuridad</option>
          <option value="6">Luz</option>
          <option value="7">Divinidad</option>
        `;
      } else if (cardType === 'magia') {
        lvlContainer.style.display = 'none';
        atkContainer.style.display = 'none';
        defContainer.style.display = 'none';
        spellTypeContainer.style.display = 'block';
        trapTypeContainer.style.display = 'none';
        cardAttributeContainer.style.display = 'none';
        monsterTypeContainer.style.display = 'none';
  
        // Clear attributes
        cardAttribute.innerHTML = '';
      } else if (cardType === 'trampa') {
        lvlContainer.style.display = 'none';
        atkContainer.style.display = 'none';
        defContainer.style.display = 'none';
        spellTypeContainer.style.display = 'none';
        trapTypeContainer.style.display = 'block';
        cardAttributeContainer.style.display = 'none';
        monsterTypeContainer.style.display = 'none';
  
        // Clear attributes
        cardAttribute.innerHTML = '';
      } else {
        lvlContainer.style.display = 'none';
        atkContainer.style.display = 'none';
        defContainer.style.display = 'none';
        spellTypeContainer.style.display = 'none';
        trapTypeContainer.style.display = 'none';
        cardAttributeContainer.style.display = 'none';
        monsterTypeContainer.style.display = 'none';
  
        // Clear attributes
        cardAttribute.innerHTML = '';
      }
    }
  </script>