{% extends "shop/base.html" %}
{% block content %}
{% load static %}
{% csrf_token %}
    <!-- Barra de Busqueda con Filtro -->
    
    <div class="flex justify-between gap-5 mb-4 ">
        <a href="{% url "shop"  %}" class="btn btn-square btn-gradient btn-primary ">
            <span class="icon-[tabler--arrow-back-up] size-6"></span>
          </a>
        <div class="input-group bg-transparent max-w-sm ">
            <span class="input-group-text">
            <span class="icon-[tabler--search] text-base-content/80 size-6"></span>
            </span>
            <input type="search" class="input  grow" placeholder="Buscar" id="keywords" 
            name="name" 
            hx-get="{% url 'decks_search_result' %}" 
            hx-trigger="input changed, delay:500ms" 
            hx-target="#search-results"
            hx-indicator="#spinerSearchAllMyAlbumDecks"/>
            <span id="spinerSearchAllMyAlbumDecks" class="loading loading-dots htmx-indicator me-1"></span>
            <label class="sr-only" for="kbdInput3">Buscar</label>
        </div>
    </div>   

    <!-- Listado de Cartas en Venta -->
    <div id="search-results" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-7 mb-12 w-full">
        {% include "shop/deck/partials/decks_list.html" %}
    </div>
    

{% endblock content %}