{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="flex w-full justify-center">
      <div
      
  class=" flex flex-col w-full "
  data-datatable='{
  "pageLength": 2000,
  "selecting": true,
  "rowSelectingOptions": {
    "selectAllSelector": "#table-search-all"
  },
  "language": {
      "zeroRecords": "<div class=\"py-10 px-5 flex flex-col justify-center items-center text-center\"><span class=\"icon-[tabler--search] shrink-0 size-6 text-base-content\"></span><div class=\"max-w-sm mx-auto\"><p class=\"mt-2 text-sm text-base-content/80\">No se encontraron resultados</p></div></div>"
    }
}'
>
  <div class="pb-4 border-b border-base-content/25 ">
    <div class="input-group max-w-sm bg-transparent">
      <span class="input-group-text">
        <span class="icon-[tabler--search] shrink-0 size-6 text-base-content"></span>
      </span>
      <label class="sr-only" for="table-input-search"></label>
      <input type="search" class="input grow " id="table-input-search" placeholder="Buscar" data-datatable-search=""/>
    </div>
  </div>
  <div class="horizontal-scrollbar overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden">
        <table class="table min-w-full">
          <thead>
            <tr>
              
              <th scope="col" class="group w-fit">
                <div class="flex items-center justify-between">
                  Código
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit">
                <div class="flex items-center justify-between">
                  Estado
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit">
                <div class="flex items-center justify-between">
                  Creador
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit">
                <div class="flex items-center justify-between">
                  Responsable actual
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit">
                <div class="flex items-center justify-between">
                  Provincia actual
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit">
                <div class="flex items-center justify-between">
                  Fecha de salida
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              
              <th scope="col" class="--exclude-from-ordering">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover">
              
              
              <td class="text-nowrap">01</td>
              <td><span class="badge badge-soft badge-error ">Faltan entregas</span></td>
              <td class="text-nowrap">Mangel</td>
              <td class="text-nowrap">Mauro</td>
              <td>Ciefuegos</td>
              <td>24 de septiembre del 2025</td>
              
              
              <td>
                <button class="btn btn-circle btn-success border border-success btn-text btn-sm" aria-label="Action button">
                  <span class="icon-[tabler--check] size-5"></span>
                </button>
                <button class="btn btn-circle btn-warning border border-warning btn-text btn-sm" aria-label="Action button">
                  <span class="icon-[tabler--pencil] size-5"></span>
                </button>
              </td>
            </tr>
            <tr class="hover">
              
              <td class="text-nowrap">02</td>
              <td><span class="badge badge-soft badge-success ">Todo entregado</span></td>
              <td class="text-nowrap">Fidel</td>
              <td class="text-nowrap">Mauro</td>
              <td>Habana</td>
              <td>5 de marzo del 2025</td>
              
              <td>
                <button class="btn btn-circle  btn-text btn-sm btn-disabled" aria-label="Action button">
                  <span class="icon-[tabler--check] size-5"></span>
                </button>
                <button class="btn btn-circle btn-warning border border-warning btn-text btn-sm" aria-label="Action button">
                  <span class="icon-[tabler--pencil] size-5"></span>
                </button>
              </td>
            </tr>
            <tr class="hover">
              
              <td class="text-nowrap">03</td>
              <td><span class="badge badge-soft badge-success ">Todo entregado</span></td>
              <td class="text-nowrap">Victor</td>
              <td class="text-nowrap">Fidel</td>
              <td>Villa Clara</td>
              <td>12 de octubre del 2025</td>
              
              <td>
                <button class="btn btn-circle  btn-text btn-sm btn-disabled" aria-label="Action button">
                  <span class="icon-[tabler--check] size-5"></span>
                </button>
                <button class="btn btn-circle btn-warning border border-warning btn-text btn-sm" aria-label="Action button">
                  <span class="icon-[tabler--pencil] size-5"></span>
                </button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="border-base-content/25 flex items-center justify-between gap-3 border-t p-3 max-md:flex-wrap max-md:justify-center">
    <div class="text-base-content/80 text-sm" data-datatable-info="">
      Resultados mostrados
      <span data-datatable-info-to="30"></span>
      de
      <span data-datatable-info-length="50"></span>
      existentes
    </div>
    
  </div>
</div>
    </div>
    
    <script src="{% static "js/table/jquery.min.js" %}"></script>
    <script src="{% static "js/table/dataTables.min.js" %}"></script>
    <script>
        window.addEventListener('load', () => {
            
          const available = document.querySelector('#select-stock')
          console.log('available', available)
          const { dataTable } = new HSDataTable('#datatable-filter')
      
          dataTable.search.fixed('stock', (searchStr, data, index) => {
            const isAvaiable = available.value === 'all' ? '' : available.value
            const parser = new DOMParser()
            const name = parser.parseFromString(data[3], 'text/html').body.textContent.trim()
      
            return isAvaiable === name || isAvaiable === ''
          })
          available.addEventListener('change', () => dataTable.draw())
        })
      </script>
{% endblock content %} 
