{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endcomment %}
<div
  class="gap-24 grid sm:grid-cols-2 lg:grid-cols-3 justify-center  mt-24"
>
  
      <!-- Slide 1 --> 
      <div class="w-100 flex flex-col justify-between items-center gap-4">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center slifer">
            <img loading="lazy" src="{% static 'img/slifer.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-red-600 opacity-40  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/slifer-toon.png' %}" class="character-2  character-slifer" />
        </div>
        <h2 class="text-3xl font-bold motion-preset-blur-left motion-delay-[1600ms]  text-center
        bg-gradient-to-r bg-clip-text  text-transparent 
          from-red-800 via-red-500 to-red-800
          animate-text">Slifer</h2>
          
          <p class="">
            Este dragón celestial es el portavoz de los dioses mismos. Sus alas abarcan la inmensidad
              de los cielos. Su rugido de trueno hace temblar los mundos y su mirada funde las almas. Pocos son los dichosos de sobrevivir a su paso.
            <strong class="bg-gradient-to-r bg-clip-text  text-transparent 
         from-red-800 via-red-500 to-red-800
          animate-text">¡Propaga la justicia divina y domina los cielos!</strong>
          </p>
          <button class="btn btn-gradient btn-error btn-block btn-lg text-xl">Unirse</button>
      </div>
       
      <!-- Slide 2 -->
      <div class="w-100 flex flex-col justify-between items-center gap-4">
          <div class="card-2 text-center">
            <div class="flex wrapper-2 relative justify-center items-center obelis">
              <img loading="lazy" src="{% static 'img/obelis.jpg' %}" class="cover-image-2 rounded z-0   " />
              <div class="w-full h-full  absolute bg-sky-800 opacity-40  rounded"></div>
            </div>
            
            
            <img loading="lazy" src="{% static 'img/obelis-toon.png' %}" class="character-2  character-obelis" />
          </div>
          <h2 class="text-3xl font-bold motion-preset-blur-left motion-delay-[1600ms]  text-center
          bg-gradient-to-r bg-clip-text  text-transparent 
            from-sky-800 via-sky-500 to-sky-800
            animate-text">Obelis</h2>
            
            <p class="">
              Este colosal monolito de piedra eterna es el guardiania de los secretos divinos. Su base impenetrable sostiene el peso de la sabiduría antigua. Su sombra oscura inspira terror en los corazones cobarde. 
              <strong class="bg-gradient-to-r bg-clip-text  text-transparent 
            from-sky-800 via-sky-500 to-sky-800
            animate-text">¡Despierta tu furia ancestral y haz temblar la tierra con tú poder!</strong>
            </p>
            <button class="btn btn-gradient btn-accent btn-block btn-lg text-xl">Unirse</button>
        </div>
       
   
      <!-- Slide 3 -->
       <div class="grid sm:grid-cols-1 lg:grid-cols-1">
        <div ></div>
        <div class="w-100 flex flex-col justify-between items-center gap-4">
          <div class="card-2 text-center ">
            <div class="flex wrapper-2 relative justify-center items-center ra">
              <img loading="lazy" src="{% static 'img/ra.jpg' %}" class="cover-image-2 rounded z-0" />
              <div class="w-full h-full  absolute bg-amber-500 opacity-40  rounded"></div>
            </div>
            
            
            <img loading="lazy" src="{% static 'img/ra-toon.png' %}" class="character-2 character-ra" />
          </div>
          <h2 class="text-3xl font-bold motion-preset-blur-left motion-delay-[1600ms]  text-center 
          bg-gradient-to-r bg-clip-text  text-transparent 
            from-amber-600 via-amber-300 to-amber-600
            animate-text">Ra</h2>
            
            <p class="">
              Legendario dragón símbolo de la potencia divina. Con alas majestuosas y ojos fulgurantes, Ra despliega su aura de fuego sagrado. Su rugido cósmico hace temblar los cielos y su mera presencia reduce a cenizas a los débiles. 
              <strong class="bg-gradient-to-r bg-clip-text  text-transparent 
              from-amber-600 via-amber-300 to-amber-600
              animate-text">¡Adora al rey de los dioses y demuestra el poder del Sol!</strong>
            </p>
            <button class="btn btn-gradient btn-warning btn-block btn-lg text-xl">Unirse</button>
        </div>
      
        <div ></div>
       </div>
    
      <!-- Slide 4 -->
      
    </div>
  </div>


</div>

<script src="{% static 'js/card_animate.js' %}"></script>