{% load static %}
<div class="card shadow-md  ">
    <div class="alert justify-start" role="alert">
        
      <span class="font-bold ">
        Editar datos personales</span>
    </div>
    <div class="card-body alert rounded-b-md p-3">
        <form action="{% url 'update_profile' %}" method="POST" class="needs-validation peer grid gap-y-3" novalidate
          hx-post="{% url 'update_profile' %}" hx-target="#user-card" hx-swap="outerHTML">
          {% csrf_token %}
            <!-- Account Details -->
            
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
              <div class="max-w-sm ">
                <div class="input-group-filled ">
                  <span class="input-group-text">
                    <span class="icon-[tabler--user] text-primary size-6"></span>
                  </span>
                  <div class="relative grow">
                    <input type="text" name="first_name" placeholder="Nombre" class="input input-filled peer" id="userFirstName" value="{{user.first_name}}" />
                    <label class="input-filled-label text-primary" for="userFirstName" >Nombre</label>
                  </div>
                </div>
                <span class="input-filled-focused"></span>
              </div>
              <div class="max-w-sm">
                <div class="input-group-filled">
                  <span class="input-group-text">
                    <span class="icon-[tabler--user] text-primary size-6"></span>
                  </span>
                  <div class="relative grow">
                    <input type="text" name="last_name" placeholder="Apellido" class="input input-filled peer" id="userLastName" value="{{user.last_name}}" />
                    <label class="input-filled-label text-primary" for="userLastName" >Apellido</label>
                  </div>
                </div>
                <span class="input-filled-focused"></span>
              </div>
            </div>
            <!-- Email and password -->
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2 mt-3">
              <div class="max-w-sm">
                <div class="max-w-sm ">
                  <select name="city"
                    data-select='{
                    "placeholder": "Select option...",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "advance-select-toggle advance-select-lg",
                    "dropdownClasses": "advance-select-menu",
                    "optionClasses": "advance-select-option selected:active",
                    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] flex-shrink-0 size-4 text-primary hidden selected:block \"></span></div>",
                    "extraMarkup": "<span class=\"icon-[tabler--caret-up-down] flex-shrink-0 size-5 text-base-content absolute top-1/2 end-3 -translate-y-1/2 \"></span>"
                    }'
                    class="hidden"
                    >
                    <option value="1" {% if user.city == "1" %}selected{% endif %}>Provincia 1</option>
                    <option value="2" {% if user.city == "2" %}selected{% endif %}>Provincia 2</option>
                    <option value="3" {% if user.city == "3" %}selected{% endif %}>Provincia 3</option>
                    <option value="4" {% if user.city == "4" %}selected{% endif %}>Provincia 4</option>
                  </select>
                  
                </div>
              </div>
              <div class="max-w-sm">
                <select name="state"
                  data-select='{
                  "placeholder": "Select option...",
                  "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                  "toggleClasses": "advance-select-toggle advance-select-lg",
                  "dropdownClasses": "advance-select-menu",
                  "optionClasses": "advance-select-option selected:active",
                  "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] flex-shrink-0 size-4 text-primary hidden selected:block \"></span></div>",
                  "extraMarkup": "<span class=\"icon-[tabler--caret-up-down] flex-shrink-0 size-5 text-base-content absolute top-1/2 end-3 -translate-y-1/2 \"></span>"
                  }'
                  class="hidden"
                  >
                  <option value="1" {% if user.state == "1" %}selected{% endif %}>Monicipio 1</option>
                  <option value="2" {% if user.state == "2" %}selected{% endif %}>Monicipio 2</option>
                  <option value="3" {% if user.state == "3" %}selected{% endif %}>Monicipio 3</option>
                  <option value="4" {% if user.state == "4" %}selected{% endif %}>Monicipio 4</option>
                </select>
                
              </div>
            </div>
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2 mt-3">
              <div class="max-w-sm">
                <div class="input-group-filled">
                  <span class="input-group-text">
                    <span class="icon-[tabler--phone-filled] text-primary size-6"></span>
                  </span>
                  <div class="relative grow">
                    <input type="text" name="phone_number" placeholder="Móvil" class="input input-filled peer" id="userPhoneNumber" value="{{user.phone_number}}"/>
                    <label class="input-filled-label text-primary" for="userPhoneNumber" >Móvil</label>
                  </div>
                </div>
                <span class="input-filled-focused"></span>
              </div>
            </div>
            
           <div class="flex justify-end">
              <button type="submit" name="submitButton" class="btn btn-primary btn-gradient">Actualizar</button>
            </div>
          </form>
  </div>
</div>