{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="flex w-full justify-center">
      <div
      
  class=" flex flex-col w-full "
  data-datatable='{
  "pageLength": 2000,
  "selecting": true,
  "rowSelectingOptions": {
    "selectAllSelector": "#table-search-all"
  },
  "language": {
      "zeroRecords": "<div class=\"py-10 px-5 flex flex-col justify-center items-center text-center\"><span class=\"icon-[tabler--search] shrink-0 size-6 text-base-content\"></span><div class=\"max-w-sm mx-auto\"><p class=\"mt-2 text-sm text-base-content/80\">No se encontraron resultados</p></div></div>"
    }
}'
>
  <div class="pb-4 border-b border-base-content/25 ">
    <div class="input-group max-w-sm bg-transparent">
      <span class="input-group-text">
        <span class="icon-[tabler--search] shrink-0 size-6 text-base-content"></span>
      </span>
      <label class="sr-only" for="table-input-search"></label>
      <input type="search" class="input grow " id="table-input-search" placeholder="Buscar" data-datatable-search=""/>
    </div>
  </div>
  <div class="horizontal-scrollbar overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden">
        <table class="table  min-w-full">
          <thead>
            <tr>
              <th scope="col" class="group w-fit text-xs">
                <div class="flex items-center justify-between">
                  Nombre
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit text-xs">
                <div class="flex items-center justify-between">
                  Comprador
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit text-xs">
                <div class="flex items-center justify-between">
                  Móvil
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit text-xs">
                <div class="flex items-center justify-between">
                  Cantidad
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit text-xs">
                <div class="flex items-center justify-between">
                  Precio
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="group w-fit text-xs">
                <div class="flex items-center justify-between">
                  Categoría
                  <span class="icon-[tabler--chevron-up] datatable-ordering-asc:block hidden"></span>
                  <span class="icon-[tabler--chevron-down] datatable-ordering-desc:block hidden"></span>
                </div>
              </th>
              <th scope="col" class="--exclude-from-ordering text-xs">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover">
              
              
              <td class="text-nowrap text-xs tooltip mt-1.5">
                <div class="tooltip-toggle " aria-label="Tooltip">
                  Blue-Eyes White Dragon
                </div>
                
                <span class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible [--trigger:click]" role="tooltip">
                  <span class="">
                    <div class="tooltip-body flex flex-col items-start pe-4">
                      <span class=" font-medium">Blue-Eyes White Dragon</span>
                      <span class="text-xs">TCG</span>
                      <span class="text-xs">Expanción: BTX-9021031</span>
                      <span class="text-xs">Rareza: Secret rare</span>
                      <span class="text-xs">$ 25.34</span>
                    </div>
                  </span>
                  
                </span>
             </td>
              <td class="text-nowrap text-xs">Mangel</td>
              <td class="text-nowrap text-xs"><a href="https://wa.me/55193484" class="cursor-pointer link-animated">55193484</a></td>
              <td class="text-xs">3</td>
              <td class="text-xs">$999</td>
              
              <td><span class="badge badge-soft badge-primary badge-sm">Carta</span></td>
              <td>
                <button class="btn btn-circle  btn-soft btn-sm btn-success border-success" aria-label="Action button">
                  
                  <span class="icon-[tabler--check] size-5"></span>
                </button>
                <button class="btn btn-circle btn-error border border-error btn-soft btn-sm" aria-label="Action button">
                  
                  <span class="icon-[tabler--square-rounded-x-filled] size-5"></span>
                </button>
              </td>
            </tr>
            <tr class="hover ">
              
              <td class="text-nowrap text-xs">Forros negros</td>
              <td class="text-nowrap text-xs">Fidel</td>
              <td class="text-nowrap text-xs"><a href="https://wa.me/55193484" class="cursor-pointer link-animated">55193484</a></td>
              <td class="text-xs">2</td>
              <td class="text-xs">$899</td>
              <td><span class="badge badge-soft badge-info badge-sm ">Forro</span></td>
              <td>
                <button class="btn btn-circle  btn-soft btn-sm btn-success border-success" aria-label="Action button">
                  
                  <span class="icon-[tabler--check] size-5"></span>
                </button>
                <button class="btn btn-circle btn-error border border-error btn-soft btn-sm" aria-label="Action button">
                  
                  <span class="icon-[tabler--square-rounded-x-filled] size-5"></span>
                </button>
              </td>
            </tr>
            <tr class="hover">
              
              <td class="text-nowrap text-xs">Playmat Elemental Hero</td>
              <td class="text-nowrap text-xs">Victor</td>
              <td class="text-nowrap text-xs"><a href="https://wa.me/55193484" class="cursor-pointer link-animated">55193484</a></td>
              <td class="text-xs">1</td>
              <td class="text-xs">$399</td>
              <td><span class="badge badge-soft badge-success badge-sm">Playmat</span></td>
              <td>
                <button class="btn btn-circle  btn-soft btn-sm btn-success border-success" aria-label="Action button">
                  
                  <span class="icon-[tabler--check] size-5"></span>
                </button>
                <button class="btn btn-circle btn-error border border-error btn-soft btn-sm" aria-label="Action button">
                  
                  <span class="icon-[tabler--square-rounded-x-filled] size-5"></span>
                </button>
                
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="border-base-content/25 flex items-center justify-between gap-3 border-t p-3 max-md:flex-wrap max-md:justify-center">
    <div class="text-base-content/80 text-sm" data-datatable-info="">
      Resultados mostrados
      <span data-datatable-info-to="30"></span>
      de
      <span data-datatable-info-length="50"></span>
      existentes
    </div>
    
  </div>
</div>
    </div>
    
    <script src="{% static "js/table/jquery.min.js" %}"></script>
    <script src="{% static "js/table/dataTables.min.js" %}"></script>
    <script>
        window.addEventListener('load', () => {
            
          const available = document.querySelector('#select-stock')
          console.log('available', available)
          const { dataTable } = new HSDataTable('#datatable-filter')
      
          dataTable.search.fixed('stock', (searchStr, data, index) => {
            const isAvaiable = available.value === 'all' ? '' : available.value
            const parser = new DOMParser()
            const name = parser.parseFromString(data[3], 'text/html').body.textContent.trim()
      
            return isAvaiable === name || isAvaiable === ''
          })
          available.addEventListener('change', () => dataTable.draw())
        })
      </script>
{% endblock content %} 
