{% extends "base.html" %}
{% block title %} Password reset {% endblock title %}
{% block content %}

<div class="flex items-center justify-center ">
    <div class="container px-3">
        <div class="bg-gray-800 bg-opacity-80 p-4 rounded-lg shadow-lg  max-w-md mx-auto ">
        <div class="container mx-auto">
            <div class="flex justify-center">
                <div class="w-full max-w-md">
                    {% if validlink %}
                        <div class="bg-gray-800 bg-opacity-80 p-4 rounded-lg shadow-lg mt-0 mb-3">
                            <div class="bg-gray-800 bg-opacity-80 p-4 rounded-lg shadow-lg text-center">
                                <h3 class="text-2xl font-bold mb-4 mt-4 text-center bg-gradient-to-r bg-clip-text text-transparent 
                                from-indigo-400 via-purple-500 to-indigo-700
                                animate-text">Reset Your Password</h3>
                            </div>
                            <div class="p-6">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="flex flex-col">
                                        <div class="w-full">
                                            <div class="input-group-filled mb-3">
                                                <span class="input-group-text">
                                                    <span class="icon-[tabler--lock] text-primary size-6"></span>
                                                </span>
                                                <div class="relative w-full">
                                                    <input type="password" name="new_password1" id="toggle-password-filled" class="input input-filled peer" placeholder="Contraseña"/>
                                                    <label class="input-filled-label text-primary" for="toggle-password-filled">Contraseña</label>
                                                </div>
                                                <span class="input-group-text">
                                                    <button type="button" data-toggle-password='{ "target": "#toggle-password-filled" }' onclick="togglePasswordVisibility(this, '#toggle-password-filled')" class="block" aria-label="password toggle">
                                                        <span class="icon-[tabler--eye] text-primary password-active:block hidden size-5 flex-shrink-0"></span>
                                                        <span class="icon-[tabler--eye-off] text-primary password-active:hidden block size-5 flex-shrink-0"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            {% if form.new_password1.errors %}
                                                <div class="alert alert-soft alert-error  p-2">
                                                    {% for error in form.new_password1.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                    </div>
                                                {% endif %}
                                            <div class="input-group-filled mb-3">
                                                <span class="input-group-text">
                                                    <span class="icon-[tabler--lock] text-primary size-6"></span>
                                                </span>
                                                <div class="relative w-full">
                                                    <input type="password" name="new_password2" id="toggle-password-filled2" onclick="togglePasswordVisibility(this, '#toggle-password-filled2')" class="input input-filled peer" placeholder="Confirma la contraseña"/>
                                                    <label class="input-filled-label text-primary" for="toggle-password-filled2">Confirma la contraseña</label>
                                                </div>
                                                <span class="input-group-text">
                                                    <button type="button" data-toggle-password='{ "target": "#toggle-password-filled2" }' onclick="togglePasswordVisibility(this, '#toggle-password-filled2')" class="block" aria-label="password toggle">
                                                        <span class="icon-[tabler--eye] text-primary password-active:block hidden size-5 flex-shrink-0"></span>
                                                        <span class="icon-[tabler--eye-off] text-primary password-active:hidden block size-5 flex-shrink-0"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            {% if form.new_password2.errors %}
                                                <div class="alert alert-soft alert-error  p-2">
                                                    {% for error in form.new_password2.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <div class="flex items-center justify-between mt-5">
                                                <button type="submit" class="btn btn-gradient btn-primary waves waves-light btn-lg w-full">Reset Button</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="bg-white shadow-lg rounded-lg mt-0 mb-3 p-6 text-center">
                            <h3 class="font-light my-4">Invalid Password Reset Link</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}