{% extends "base.html" %}
{% block content %}
    <div class="form-content my-3 p-3">
        <div class="container mx-auto">
            <div class="flex justify-center">
                <div class="w-full max-w-lg">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header flex justify-center">
                            <div id="error_div"></div>
                            <h3 class="text-2xl font-bold mb-4 mt-4 text-center bg-gradient-to-r bg-clip-text text-transparent 
                            from-indigo-400 via-purple-500 to-indigo-700
                            animate-text">Olvidaste tu contraseña?</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="flex-colum justify-center mb-2">
                                        <div class="input-group-filled">
                                          <span class="input-group-text">
                                            <span class="icon-[tabler--mail] text-primary size-6"></span>
                                          </span>
                                          <div class="relative grow">
                                            <input type="email" name="email" placeholder="example@example.com" class="input input-filled peer text-white"/>
                                            <label class="input-filled-label text-primary" for="emailInput">Correo Electrónico</label>
                                          </div>
                                        </div>
                                        <span class="input-filled-focused"></span>
                                      </div>
                                </div>
                                {% if form.email.errors %}
                                    <div class="alert alert-soft alert-error  p-2">
                                        {% for error in form.email.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="flex justify-end mt-3">
                                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}