{% load static %}

<div class="w-full h-full grid grid-cols-1 justify-center items-center mb-12">
    
    <div class="flex justify-center relative h-96 pt-10">
        <img loading="lazy"  src="{% static "img/slifer-card.jpg" %}" width="145" height="300" class="cover-image absolute z-10  -translate-x-15 -translate-y-5 -rotate-6 shadow  animate-spin-card "  />
        <img loading="lazy" src="{% static "img/obelis-card.jpg" %}" width="145" height="300" class="cover-image absolute z-10 translate-y-10 rotate-6 shadow-md animate-spin-card" />
        <img loading="lazy" src="{% static "img/ra-card.jpg" %}" width="145" height="300" class="cover-image absolute z-10 translate-y-24 translate-x-15 rotate-12 shadow-lg animate-spin-card" />
        
    </div>
    <div class="flex justify-center items-center relative ">
        <a href="{% url "shop" %}" class="btn btn-gradient btn-primary wave btn-lg">Acceder a la tienda</a>
    </div>
  
</div>