{% load static %}

<div class="w-full h-full grid grid-cols-1 justify-center items-start mb-12">
    
    <div class="flex justify-center relative h-96">
        <img loading="lazy"  src="{% static "img/slifer-card.jpg" %}" width="170" height="300" class="cover-image absolute z-10  -translate-x-10" />
        <img loading="lazy" src="{% static "img/obelis-card.jpg" %}" width="170" height="300" class="cover-image absolute z-10 translate-y-10" />
        <img loading="lazy" src="{% static "img/ra-card.jpg" %}" width="170" height="300" class="cover-image absolute z-10 translate-y-20 translate-x-10" />
    </div>
    <div class="flex justify-center items-center relative ">
        <button class="btn btn-gradient btn-primary wave btn-lg">Acceder a la tienda</button>
    </div>
  
</div>