{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
        {% include "components/dashboard/card_user_presentation/index.html" %}
        {% include "components/dashboard/user/forms/profile_update/index.html" %}
        </div>
       <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
        {% include "components/dashboard/user/forms/change_password/index.html" %}
        {% include "components/dashboard/user/data/win_rate/index.html" %}
       </div>
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 my-4">
        {% include "components/dashboard/user/data/plans_active/index.html" %}
        
       </div>
       

        
          
    
{% endblock content %} 
