{% load static %}

{% if pagination %}
{% comment %} <span class="">Decks mostrados 6 de 6 </span> {% endcomment %}
 <span class="">Decks mostrados {{pagination.object_list|length }} de {{pagination.paginator.count }} </span>
<div  class="grid grid-cols-2  sm:grid-cols-4  lg:grid-cols-6 gap-5 sm:gap-6 mt-3">
  {% for deck in pagination %}
      {% include "components/deck/deck.html" %}
  {% endfor %}
</div>
{% if search %}
<script>
  document.querySelectorAll('[id^="myAlbumCard"]').forEach(function(card) {
    card.addEventListener('click', function() {
        this.classList.toggle('show');
    });
});
</script>
{% endif %}
{% if create_message %}
        <script>
          showNotification('success', 'Confirmación', '{{create_message}}', 3000, 'fas fa-check-circle');
        </script>
        
        {% endif %} 
{% endif %}


       
          
          
       
