<div id="slide-down-animated-modal" class="overlay modal overlay-open:opacity-100 hidden" role="dialog" tabindex="-1">
    <div class="modal-dialog overlay-open:mt-12 overlay-open:opacity-100 overlay-open:duration-500 transition-all ease-out" >
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirmación</h3>
          <button type="button" class="btn btn-text btn-circle btn-sm absolute end-3 top-3" aria-label="Close" data-overlay="#slide-down-animated-modal">
            <span class="icon-[tabler--x] size-4"></span>
          </button>
        </div>
        <div class="modal-body">
          Tras presionar en aceptar, se procederá a enviar una solicitud de compra con los items del carrito.
          En caso de haber algún error, se mostrará una notificación.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-soft btn-secondary" data-overlay="#slide-down-animated-modal">
            Cancelar
          </button>
          <button hx-get="{% url "check_cart" %}"
          hx-target="#CartSection"
          hx-trigger="click" type="button" class="btn btn-primary" data-overlay="#slide-down-animated-modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>