{% load static %}
{% if paginator %}
    {% for album_deck in paginator %}
        {% include "shop/deck/partials/deck.html" %}
    {% endfor %}
    {% if paginator.has_next %}
        <div class="w-full col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-3 flex justify-center" hx-get="{% url 'decks_search_result' %}?page={{ paginator.next_page_number }}&{{ parameters }}" hx-trigger="revealed" hx-swap="outerHTML">
            <div class="loading loading-infinity loading-lg "></div>
        </div>
    {% endif %}
{% else %}
    <h1>NO HAY RESULTADOS</h1>
{% endif %}