{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    {% csrf_token %}  
    <div class="flex justify-between items-center gap-4 mb-5">
        <div class="input-group bg-transparent max-w-sm ">
            <span class="input-group-text">
            <span class="icon-[tabler--search] text-base-content/80 size-6"></span>
            </span>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="search" class="input  grow" placeholder="Buscar" id="kbdInput2" 
            name="kbdInput2" 
            {% comment %} hx-post="{% url 'search_user_cards' %}"  {% endcomment %}
            hx-trigger="input changed, delay:500ms" 
            hx-target="#card-list" hx-include="[name=kbdInput2], [name=csrfmiddlewaretoken]" 
            hx-indicator="#spinerSearchAllMyAlbumCards"/>
            <span id="spinerSearchAllMyAlbumCards" class="loading loading-dots htmx-indicator me-1"></span>
            <label class="sr-only" for="kbdInput2">Buscar</label>
        </div>
        <bottom 
        {% comment %} aria-haspopup="dialog" aria-expanded="false" aria-controls="add-card-modal" data-overlay="#add-card-modal"  {% endcomment %}
        class="btn btn-gradient btn-success tooltip [--placement:bottom] flex items-center">
            <span class="icon-[tabler--square-rounded-plus-filled] size-6" ></span>
            <span class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible" role="tooltip">
              <span class="tooltip-body">Crear deck</span>
            </span>
            Añadir
        </bottom>
    </div>            
                
            
    <!-- Listado de Cartas -->
    <div id="card-list" class="w-full grid grid-cols-1">
      {% include "components/deck/deck_list.html" %}
    </div>
      {% comment %} <button class="btn btn-primary" id="notyf-default-example">Default notyf</button>
    </div> <!-- Listado de cartas -->
    <script>
      window.addEventListener('load', function () {
        const notyfDefault = new Notyf()
    
        document.getElementById('notyf-default-example').addEventListener('click', function () {
         notyfDefault.success('This is primary notification!')
        })
      })
    </script> {% endcomment %}
{% endblock content %}