
{% comment %} Add cart {% endcomment %}
<div class="fixed end-0 bottom-0 me-3 mb-3 flex gap-3 flex-col z-50">

    <div class=" shadow-md  px-2 btn btn-gradient  btn-primary waves waves-primary ">
        <span class="icon-[tabler--shopping-cart-check] size-6"></span>
    </div>


    <div class=" shadow-md  px-2 btn btn-gradient  btn-accent waves waves-accent ">
        <span class="icon-[tabler--shopping-cart-question] size-6"></span>
    </div>

    

{% comment %} Cancel cart {% endcomment %}

    <div class=" shadow-md  px-2 btn btn-gradient btn-error waves waves-error ">
        <span class="icon-[tabler--shopping-cart-x] size-6"></span>
    </div> 
</div> 