{% load static %}
<div class="max-w-screen-xl  grid  mx-auto space-y-12 lg:space-y-20  lg:px-6  ">
  <!-- Row -->
  
  <div class="items-start   gap-8  grid grid-cols-1 md:grid-cols-2 xl:gap-6 ">
      <div class="text-center  sm:text-lg   ">
          <h2 class="mb-4 text-3xl font-extrabold tracking-tight  ">Mis pedidos</h2>
          <p class=" font-normal">Gestione sus pedidos de  <span class="bg-gradient-to-r bg-clip-text  text-transparent 
      from-indigo-500 via-purple-500 to-indigo-500
      animate-text text-xl font-bold text-nowrap">YU-GI-OH</span></p>
          <!-- List -->
          <div class="flex justify-center ">
            
            <img loading="lazy" src="{% static "img/box-card.png" %}" width="250" height="250" class="cover-image waves active:motion-preset-confetti motion-duration-700" />
            
        </div>
          
      </div>
     
      <div class="w-full h-full flex justify-center items-center mb-12">
        {% if cart %}
        {% else %}
        <div class="flex-col text-center "> 
          <span class="icon-[tabler--question-mark] size-20"></span>
          <h2>No se encuentran resultados</h2>
          
        </div>
        {% endif %}
        
      
      </div>
  
  </div>
 
</div>

