<div class="w-full h-full flex flex-col mb-12">
  <h1 class="text-2xl font-bold mb-4">Carrito de Compras</h1>
  {% if cart.items.exists %}
    <div class="flex flex-col space-y-4">
      <ul class="space-y-4">
        {% for item in cart.items.all %}
          <li class="flex items-center space-x-4">
            <img src="{{ item.content_object.card_images.image_url_small }}" width="50" height="50" alt="{{ item.content_object.name }}" class="object-cover">
            <div class="flex flex-col">
              <span class="font-medium">{{ item.content_object.name }}</span>
              <span class="text-sm text-gray-500">${{ item.get_total_price }}</span>
            </div>
            <div class="flex items-center space-x-2">
              <a href="{% url 'increase_quantity' item.content_type.id item.object_id %}" class="text-green-500 hover:text-green-700">+</a>
              <input type="number" value="{{ item.quantity }}" class="w-12 text-center border rounded">
              <a href="{% url 'decrease_quantity' item.content_type.id item.object_id %}" class="text-red-500 hover:text-red-700">-</a>
              <a href="{% url 'remove_from_cart' item.content_type.id item.object_id %}" class="text-gray-500 hover:text-gray-700">Eliminar</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p class="text-gray-500">Tu carrito está vacío.</p>
  {% endif %}
</div>