<h1 class="pb-8 pt-4 text-center font-bold font-manrope text-4xl lg:text-5xl  leading-[50px] relative">
  <span class=" ">Carrrito de compras </span>  <span class="text-nowrap font-bold 
bg-gradient-to-r bg-clip-text  text-transparent 
from-indigo-500 via-purple-500 to-indigo-500
animate-text ">YuGi Faction</span>
</h1>
<div class="mx-auto max-w-7xl  sm:px-6 lg:px-8 flex justify-center items-center mb-20">
  
  {% include "components/cart/actions_cart.html" %}
  {% if cart %}
    
      <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full mb-20">
        {% for item in cart %}
          {% if item.object == "card" %}
            {% include "components/cart/card/card.html" %}
          {% endif %}
        {% endfor %}
      </ul>
   
  {% else %}
    <p class="text-gray-500">Tu carrito está vacío.</p>
  {% endif %}
</div>