
{% comment %} Add cart {% endcomment %}
    <div class="fixed end-0 bottom-0 me-3 mb-3 shadow-md   btn btn-soft btn-primary waves waves-primary z-50">
        <span class="icon-[tabler--shopping-cart-plus] size-6"></span>
    </div>


{% comment %} Cancel cart {% endcomment %}
{% comment %} 
    <div class="fixed end-0 bottom-0 me-3 mb-3 shadow-md   btn btn-soft btn-error waves waves-primary z-50">
        <span class="icon-[tabler--shopping-cart-minus] size-6"></span>
    </div> 
{% endcomment %}