{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endcomment %}
<div
  class="gap-24 grid sm:grid-cols-2 lg:grid-cols-3 justify-center  mt-24"
>
  
      <!-- Slide 1 --> 
          <div class="card-2 text-center ">
            <div class="flex wrapper-2 relative justify-center items-center slifer">
              <img src="{% static 'img/slifer.jpg' %}" class="cover-image-2 rounded z-0 bg-base-200 " />
              <div class="w-full h-full  absolute bg-red-600 opacity-40  rounded"></div>
            </div>
            
            
            <img src="{% static 'img/slifer-toon.png' %}" class="character-2  rounded" />
          </div>
      

      <!-- Slide 2 -->
      
          <div class="card-2 text-center">
            <div class="flex wrapper-2 relative justify-center items-center obelis">
              <img src="{% static 'img/obelis.jpg' %}" class="cover-image-2 rounded z-0   " />
              <div class="w-full h-full  absolute bg-sky-800 opacity-40  rounded"></div>
            </div>
            
            
            <img src="{% static 'img/obelis-toon.png' %}" class="character-2  rounded" />
          </div>
      
       
   
      <!-- Slide 3 -->
       <div class="grid sm:grid-cols-2 lg:grid-cols-1">
        <div ></div>
        
          <div class="card-2 text-center ">
            <div class="flex wrapper-2 relative justify-center items-center ra">
              <img src="{% static 'img/ra.jpg' %}" class="cover-image-2 rounded z-0" />
              <div class="w-full h-full  absolute bg-amber-500 opacity-40  rounded"></div>
            </div>
            
            
            <img src="{% static 'img/ra-toon.png' %}" class="character-2  rounded" />
          </div>
      
        <div ></div>
       </div>
    
      <!-- Slide 4 -->
      
    </div>
  </div>


</div>