<form action="{% url 'change_password' %}" method="POST" class="flex-col gap-y-3" hx-post="{% url 'change_password' %}" hx-target="#password-change-form" hx-swap="innerHTML">
    {% csrf_token %}
    
    {% if messages %}
        {% for message in messages %}
            <script>
                showNotification('success', 'Confirmación', '{{message}}', 3000, 'fas fa-info-circle');
                document.addEventListener('htmx:afterSwap', function(event) {
                    if (event.detail.target.id === 'password-change-form') {
                        document.querySelector('input[name="new_password1"]').value = '';
                        document.querySelector('input[name="new_password2"]').value = '';
                    }
                });
            </script>
        {% endfor %}
    {% endif %}

    <!-- Password Change -->
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div class="input-group-filled">
            <span class="input-group-text">
                <span class="icon-[tabler--lock] text-primary size-6"></span>
            </span>
            <div class="relative w-full">
                <input type="password" name="new_password1" id="toggle-password-filled" class="input input-filled peer" placeholder="Contraseña"/>
                <label class="input-filled-label text-primary" for="toggle-password-filled">Contraseña</label>
            </div>
            <span class="input-group-text">
                <button type="button" data-toggle-password='{ "target": "#toggle-password-filled" }' onclick="togglePasswordVisibility(this, '#toggle-password-filled')" class="block" aria-label="password toggle">
                    <span class="icon-[tabler--eye] text-primary password-active:block hidden size-5 flex-shrink-0"></span>
                    <span class="icon-[tabler--eye-off] text-primary password-active:hidden block size-5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
        <div class="input-group-filled">
            <span class="input-group-text">
                <span class="icon-[tabler--lock] text-primary size-6"></span>
            </span>
            <div class="relative w-full">
                <input type="password" name="new_password2" id="toggle-password-filled2" onclick="togglePasswordVisibility(this, '#toggle-password-filled2')" class="input input-filled peer" placeholder="Confirma la contraseña"/>
                <label class="input-filled-label text-primary" for="toggle-password-filled2">Confirma la contraseña</label>
            </div>
            <span class="input-group-text">
                <button type="button" data-toggle-password='{ "target": "#toggle-password-filled2" }' onclick="togglePasswordVisibility(this, '#toggle-password-filled2')" class="block" aria-label="password toggle">
                    <span class="icon-[tabler--eye] text-primary password-active:block hidden size-5 flex-shrink-0"></span>
                    <span class="icon-[tabler--eye-off] text-primary password-active:hidden block size-5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="flex justify-end mt-3">
        <button type="submit" name="submitButton" class="btn btn-primary btn-gradient">Actualizar</button>
    </div>
</form>
<script>
    function togglePasswordVisibility(button, inputSelector) {
        const input = document.querySelector(inputSelector);
        if (button.classList.contains('block') && !button.classList.contains('active')) {
            button.classList.add('active');
            input.type = 'text';
        } else if (button.classList.contains('block') && button.classList.contains('active')) {
            button.classList.remove('active');
            input.type = 'password';
        }
    }
</script>