{% load static %}
  
    
      <div class="mx-auto max-w-7xl  sm:px-6 lg:px-8 flex justify-center items-center my-3">
        
        <div class="grid grid-cols-1 gap-2 items-center lg:grid-cols-12 lg:gap32">
          <div class="w-full xl:col-span-6 lg:col-span-6 2xl:-mx-5 xl:-mx-0 order-2 md:order-1">
            
            <h1 class="pb-8 pt-4 text-center font-bold font-manrope text-5xl lg:text-left leading-[70px] relative">
              <span class="text-nowrap ">Bienvenido a </span>  <span class="text-nowrap font-bold 
            bg-gradient-to-r bg-clip-text  text-transparent 
            from-indigo-500 via-purple-500 to-indigo-500
            animate-text ">YuGi Faction</span>
            </h1>
            <p class=" text-gray-500 font-light lg:text-xl">
              Bienvenidos duelistas. Compite contra otros jugadores y forma parte de una comunidad. 
              <a href="/" class="font-bold text-indigo-600 link link-primary link-animated">Compite por la mejor posición.</a>
            </p>
            <div class="flex justify-center lg:justify-start mt-10">
              <a class=" btn btn-gradient btn-primary waves waves-light btn-lg " href="{% url 'register' %}">
                <span class="text-xl">Unirse</span>
             
              </a>
            </div>
          </div>
          <div class="w-full xl:col-span-6 lg:col-span-6 flex justify-center items-center relative order-1 md:order-2" data-aos="zoom-in">
              <div class="absolute" style="transform: translateX(30px) translateY(-80px);">
                <img loading="lazy" src="{% static "img/red.svg" %}" width="150" alt="3 dioses egipcios" class=" object-cover  blur-2xl  md:w-52"> 
              </div>
              <div class="absolute" style="transform: translateX(30px) translateY(80px);">
                <img loading="lazy" src="{% static "img/yellow.svg" %}" width="150" alt="3 dioses egipcios" class=" object-cover  blur-2xl  md:w-52"> 
              </div>
              <div class="absolute" style="transform: translateX(-50px) translateY(0);">
                <img loading="lazy" src="{% static "img/blue.svg" %}" width="170" alt="3 dioses egipcios" class=" object-cover  blur-2xl  md:w-52"> 
              </div>
              
             
              <img loading="lazy" src="{% static "img/3-goods-toon.png" %}" width="330" alt="3 dioses egipcios" class="rounded-l-3xl object-cover z-10  ">
            
          </div>
        </div>
      </div>


                                            