{% extends "shop/base.html" %}
{% block content %}
{% load static %}
{% csrf_token %}  
    <!-- Barra de Busqueda con Filtro -->
    <button type="button" id="show-modal" class="fixed end-0 bottom-0 me-3 mb-3 shadow-md btn btn-gradient border-primary px-2 border-2 btn-primary wave btn-text max-sm:btn-square z-50"     
    aria-haspopup="dialog" 
    aria-expanded="false" 
    aria-controls="add-filter-modal" 
    data-overlay="#add-filter-modal" >
        <span class="icon-[tabler--filter] size-6 "></span>
    </button>
    <div class="grid grid-cols-1 mb-4 ">
        <div class="input-group bg-transparent max-w-sm ">
            <span class="input-group-text">
            <span class="icon-[tabler--search] text-base-content/80 size-6"></span>
            </span>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="search" class="input  grow" placeholder="Buscar" id="kbdInput4" 
            name="kbdInput4" 
            hx-post="{% url 'search_cards_shop' %}" 
            hx-trigger="input changed, delay:500ms" 
            hx-target="#search-results" hx-include="[name=kbdInput3], [name=csrfmiddlewaretoken]" 
            hx-indicator="#spinerSearchAllMyAlbumCards"/>
            <span id="spinerSearchAllMyAlbumCards" class="loading loading-dots htmx-indicator me-1"></span>
            <label class="sr-only" for="kbdInput3">Buscar</label>
        </div>
    </div>   

    <!-- Listado de Cartas en Venta -->
    {% include "shop/partials/cards-list.html" %}
    {% include "shop/partials/cards-filter-list.html" %}

{% endblock content %}

