{% load static %}

    <div class="max-w-screen-xl   py-12 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
        <!-- Row -->
        
        <div class="items-center   gap-8  lg:grid lg:grid-cols-2 xl:gap-16 ">
            <div class=" sm:text-lg   ">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-center lg:text-left">Características</h2>
                <p class="mb-8 font-normal">Tenemos el objetivo de agrupar a toda la comunidad de <span class="bg-gradient-to-r bg-clip-text  text-transparent 
            from-indigo-500 via-purple-500 to-indigo-500
            animate-text text-xl font-bold text-nowrap">YU-GI-OH</span>  y hacer de esta una gran nación.</p>
                <!-- List -->
                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                    <li class="flex space-x-3 justify-start" data-aos="fade-right">
                        <!-- Icon -->
                        <div><span class="icon-[tabler--check] text-primary size-6"></span></div>
                        <span class="font-medium leading-tight " >Unificar a la comunidad</span>
                    </li>
                    <li class="flex space-x-3 justify-start" data-aos="fade-right">
                        <!-- Icon -->
                        <div><span class="icon-[tabler--check] text-primary size-6"></span></div>
                        
                        <span class="font-medium leading-tight ">Generar eventos</span>
                    </li>
                    <li class="flex space-x-3 justify-start" data-aos="fade-right">
                        <!-- Icon -->
                        <div><span class="icon-[tabler--check] text-primary size-6"></span></div>
                        <span class="font-medium leading-tight ">Comercio de cartas</span>
                    </li>
                    <li class="flex space-x-3 justify-start" data-aos="fade-right">
                        <!-- Icon -->
                        <div><span class="icon-[tabler--check] text-primary size-6"></span></div>
                        <span class="font-medium leading-tight ">Comercio de decks</span>
                    </li>
                    <li class="flex space-x-3 justify-start" data-aos="fade-right">
                        <!-- Icon -->
                        <div><span class="icon-[tabler--check] text-primary size-6"></span></div>
                        <span class="font-medium leading-tight ">Donaciones voluntarias</span>
                    </li>
                    <li class="flex space-x-3 justify-start" data-aos="fade-right">
                        <!-- Icon -->
                        <div><span class="icon-[tabler--letter-x] text-primary size-6"></span></div>
                        <span class="font-medium leading-tight ">Comercio de accesorios</span>
                    </li>
                    
                </ul>
                
            </div>
           
                {% include "components/landing/about_us/data.html" %}
        
        </div>
       
    </div>
