{% load static %}

  <div class=" w-full  mx-auto max-w-7xl  sm:px-6 lg:px-8 gap-12 items-center mb-20">
    <div class="w-full text-center">
            
      <h1 class="pb-8 pt-4 text-center font-bold font-manrope text-4xl lg:text-5xl  leading-[50px] relative">
        <span class=" ">Comercia en </span>  <span class="text-nowrap font-bold 
      bg-gradient-to-r bg-clip-text  text-transparent 
      from-indigo-500 via-purple-500 to-indigo-500
      animate-text ">YuGi Faction</span>
      </h1>
      <p class="sm:text-lg font-normal">
        Encuentre todo tipo de cartas, playmats, decks y forros. Accede a nuestros modulos de comercio entre jugadores
         y forme parte de la comunidad.
        
      </p>
     
    </div>
    
  </div>
 
        


                                            