{% if card %}
<div id="myAlbumCard{{card.pk}}"  class="tooltip [--placement:top] [--trigger:click] relative p-1 flex-col justify-center   transition duration-300 ">
    <div class="flex justify-center  relative transform transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:shadow-md">
        <div id="sniperMyAlbumCard{{card.pk}}" class="htmx-indicator w-full h-full flex justify-center items-center bg-base-200/60 absolute">
            <span class="loading loading-ring loading-lg"></span>
        </div>
        <span class="absolute badge end-0 -translate-y-2 badge-xs btn-gradient btn-primary md:badge-sm z-10">{{card.stock}}</span>
       
   
            <img loading="lazy" src="{{ card.card_images.image_url_small }}" width="60" height="60" class="cover-image-2 tooltip-toggle" alt="card"/>
            <div class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible left-0 top-0 absolute " role="tooltip">
              <span class="tooltip-body text-[10px]  sm:text-xs p-1">{{card.get_version_display}}/{{card.get_rarity_display}}</span>
              
            </div>
    </div>
    <div class="w-full text-center">
                
      <span class="text-base-content text-xs font-medium">{{card.price}} USD</span>
    </div>
    <div class="flex justify-around gap-1 mt-1">
                
      <a href="{% url "album_card_update" pk=card.pk %}" class="btn btn-gradient btn-warning btn-xs">
          <span class="icon-[tabler--edit-circle] "></span>
      </a>
      <button  class="btn btn-gradient btn-error btn-xs"
        hx-delete="{% url "album_card_delete" pk=card.pk %}"
        hx-target="#myAlbumCard{{card.pk}}"
        hx-swap="outerHTML"
        hx-indicator="#sniperMyAlbumCard{{card.pk}}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
      >
          <span class="icon-[tabler--square-rounded-x-filled] "></span>
          
      </button>
    </div>
  </div>
{% endif %}
{% if message %}
<script>
    showNotification('error', 'Confirmación', '{{message}}', 3000, 'fas fa-check-circle');
</script>
{% endif %}