{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notyf.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
</head>

<body class="relative  ">
  {% include "components/album/add_card_modal/index.html" %}
  <div class="absolute  z-0" >
    <img src="{% static "img/docs@30.8b9a76a2.avif" %}"  class="h-96 -z-1 animate-pulse " alt="ligth">
  </div>  
  <div id="notification-container" class="fixed top-4 right-4 space-y-4 z-50"></div>
    <nav class="sticky top-0 navbar backdrop-blur-sm  bg-base-200/90 flex justify-between rounded-box shadow px-2 lg:px-3 z-40 ">
      
      
      
        <div class="flex  items-center">
          <a href="/" class="flex items-center bg-gradient-to-r bg-clip-text  text-transparent 
            from-indigo-400 via-purple-500 to-indigo-700
            animate-text text-nowrap no-underline hover:no-underline font-bold text-xl lg:text-3xl" href="#">
            <img src="{% static "img/blue-eyes-toon-logo.png" %}" width="40" height="50"/> YuGiFaction
          </a>
        </div>
        <div class="navbar-center  flex  items-center gap-4">
          <div class="dropdown relative inline-flex gap-2 [--auto-close:inside] [--offset:8] [--placement:bottom-end] ">
           
                <label class="swap swap-rotate ">
                    <input type="checkbox" data-toggle-theme="dark"/>
                    <span class="swap-off icon-[tabler--moon] size-[1.375rem] "></span>
                    <span class="swap-on icon-[tabler--sun] size-[1.375rem]"></span>
                    
                  </label>
           
                  
            <button id="dropdown-scrollable" type="button" class=" dropdown-toggle btn btn-text btn-circle dropdown-open:bg-base-content/10 size-10" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
              <div class="indicator">
                
                <span class="indicator-item bg-error size-3 rounded-full flex justify-center">
                  <span class="bg-error absolute size-full animate-ping rounded-full opacity-75"></span>
                </span>
                <span class="icon-[tabler--bell] text-base-content size-[1.375rem]"></span>
              </div>
            </button>
          
            <div class="dropdown-menu z-50 dropdown-open:opacity-100 hidden" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-scrollable">
              <div class="dropdown-header justify-center">
                <h6 class="text-base-content/90 text-base">Notifications</h6>
              </div>
              <div class="vertical-scrollbar horizontal-scrollbar rounded-scrollbar text-base-content/80 max-h-56 overflow-auto max-md:max-w-64 ">
                <div class="dropdown-item">
                  <div class="avatar away-bottom">
                    <div class="w-10 rounded-full">
                      <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-1.png" alt="avatar 1" />
                    </div>
                  </div>
                  <div class="w-60">
                    <h6 class="truncate text-base">Charles Franklin</h6>
                    <small class="text-base-content/50 truncate">Accepted your connection</small>
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-2.png" alt="avatar 2" />
                    </div>
                  </div>
                  <div class="w-60">
                    <h6 class="truncate text-base">Martian added moved Charts & Maps task to the done board.</h6>
                    <small class="text-base-content/50 truncate">Today 10:00 AM</small>
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="avatar online-bottom">
                    <div class="w-10 rounded-full">
                      <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-8.png" alt="avatar 8" />
                    </div>
                  </div>
                  <div class="w-60">
                    <h6 class="truncate text-base">New Message</h6>
                    <small class="text-base-content/50 truncate">You have new message from Natalie</small>
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="avatar placeholder">
                    <div class="bg-neutral text-neutral-content w-10 rounded-full p-2">
                      <span class="icon-[tabler--user] size-full"></span>
                    </div>
                  </div>
                  <div class="w-60">
                    <h6 class="truncate text-base">Application has been approved 🚀</h6>
                    <small class="text-base-content/50 text-wrap">Your ABC project application has been approved.</small>
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-10.png" alt="avatar 10" />
                    </div>
                  </div>
                  <div class="w-60">
                    <h6 class="truncate text-base">New message from Jane</h6>
                    <small class="text-base-content/50 text-wrap">Your have new message from Jane</small>
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-3.png" alt="avatar 3" />
                    </div>
                  </div>
                  <div class="w-60">
                    <h6 class="truncate text-base">Barry Commented on App review task.</h6>
                    <small class="text-base-content/50 truncate">Today 8:32 AM</small>
                  </div>
                </div>
              </div>
              <a href="#" class="dropdown-footer justify-center gap-1">
                <span class="icon-[tabler--eye] size-4"></span>
                View all
              </a>
            </div>
            {% if user.is_authenticated %}
            <div class="dropdown relative inline-flex [--auto-close:inside] [--offset:8] [--placement:bottom-end] z-0">
              <button id="dropdown-scrollable" type="button" class="dropdown-toggle flex items-center z-0" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                <div class="avatar">
                  <div class="size-9.5 rounded-full">
                    <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-1.png" alt="avatar 1" />
                  </div>
                </div>
              </button>
              <ul class="dropdown-menu dropdown-open:opacity-100 hidden min-w-60" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-avatar">
                <li class="dropdown-header gap-2">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-1.png" alt="avatar" />
                    </div>
                  </div>
                  <div>
                    <h6 class="text-base-content/90 text-base font-semibold">{{user.username}}</h6>
                    <small class="text-base-content/50">{{user.email}}</small>
                  </div>
                </li>
                <li>
                  <a class="dropdown-item " href="{% url 'profile' %}">
                    <span class="icon-[tabler--user] size-6"></span>
                    Mi perfil
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url "dashboard" %}">
                    <span class="icon-[tabler--settings] size-6"></span>
                    Dashboard
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url "shop" %}">
                    <span class="icon-[tabler--building-store] size-6"></span>
                    Tienda
                  </a>
                </li>
                
                <li class="dropdown-footer gap-2">
                    <form action="{% url 'logout' %}" method="post" class="w-full">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-error btn-soft btn-block">
                        <span class="icon-[tabler--logout] size-6"></span>
                        Cerrar sesión
                      </button>
                    </form>
                </li>
              </ul>
            </div>
            {% else %}
            <a class="btn btn-gradient btn-primary waves waves-light " href="{% url 'login' %}">
              <span class="text-lg">Log in</span>
              
            </a>
           
            {% endif %} 
          </div>
          
        </div>
    </nav>
      <button type="button" class="fixed end-0 bottom-0 me-3 mb-3 shadow-md btn btn-gradient border-primary border-2 btn-primary wave btn-text max-sm:btn-square md:hidden z-50" aria-haspopup="dialog" aria-expanded="false" aria-controls="default-sidebar" data-overlay="#default-sidebar" >
        <span class="icon-[tabler--menu-2] size-6 "></span>
      </button>
      
      <aside id="default-sidebar" class="overlay sm:shadow bg-base-200 overlay-open:translate-x-0 drawer drawer-start hidden max-w-64 md:flex md:translate-x-0 mt-16 z-40" role="dialog" tabindex="-1" >
        <div class="drawer-body bg-none px-2 pt-4">
          <ul class="menu p-0 gap-1 ">
            <li class="mx-1 my-1">
              <a href="{% url "dashboard" %}" class="link-primary animate-text link-animated ">
                <span class="icon-[tabler--brand-pnpm] size-6"></span>
                Dashboard
              </a>
            </li>
            <li class="mx-1">
              <a href="{% url "profile" %}" class="link-primary animate-text link-animated">
                <span class="icon-[tabler--user] size-6"></span>
                Perfil
              </a>
            </li>
            <li class="mx-1 mb-1">
              <a href="{% url "delivery_pakage" %}" class="link-primary animate-text link-animated">
                <span class="icon-[tabler--package-export] size-6"></span>
                Envios en proceso
              </a>
            </li>
            <li class="mx-1 mb-1">
              <a href="{% url "paid_order" %}" class="link-primary animate-text link-animated">
                <span class="icon-[tabler--packages] size-6"></span>
                Crear paketes
              </a>
            </li>
            {% comment %} <li class="mx-1">
              <a href="#" class="link-primary animate-text link-animated">
                <span class="icon-[tabler--cards-filled] size-6" ></span>
                Armar deck
              </a>
            </li> {% endcomment %}
            
            <li class="mx-1">
              <a href="{% url "album" %}" class="link-primary animate-text link-animated">
                <span class="icon-[tabler--brand-kickstarter] size-6" ></span>
                Mi colección
              </a>
            </li>
            {% comment %} <li class="mx-1">
              <a href="#" class="link-primary animate-text link-animated">
                <span class="icon-[tabler--shopping-cart-filled] size-6"></span>
                Mis compras
              </a>
            </li> {% endcomment %}
            <li class="mx-1 mb-1">
              <a href="{% url "unpaid_order" %}" class="link-primary animate-text link-animated">
                <span class="icon-[tabler--shopping-cart-exclamation] size-6"></span>
                Nuevas ventas
              </a>
            </li>
            
            
            
          </ul>
          <div class=" mt-4 mb-14">
            <div class="flex items-center w-full ">
              <div class="avatar placeholder  ">
                <div class="bg-primary text-primary-content w-10 rounded-full">
                  <span class="icon-[tabler--crown] size-6 shrink-0"></span>
                  
                </div>
                
              </div>
              <h5 class="text-base-content ms-2  text-lg font-semibold ">Económico</h5>
            </div>
            <h5 class="text-base-content mt-2 text-lg font-semibold">Cambiar plan</h5>
            <p class="text-base-content/80 text-xs">Ten acceso a mejores funciones</p>
            <a href={% url "pricing" %} class="btn btn-primary btn-gradient btn-block mt-2">Ver planes</a>
          </div>
        </div>
    </aside>
    
    <main class=" md:ml-64 relative z-10 p-3">
      
       {% block content %}{% endblock content %} 
    </main>

    <script>
      const notificationTypes = {
          info: {
              color: "bg-info/70 text-white",
              progressColor: "bg-info"
          },
          success: {
              color: "bg-success/70 text-white",
              progressColor: "bg-success"
          },
          warning: {
              color: "bg-warning/70 text-white",
              progressColor: "bg-warning"
          },
          error: {
              color: "bg-error/70 text-white",
              progressColor: "bg-error"
          }
      };
  
      function showNotification(type, title, message, duration, icon) {
          
          const notificationType = notificationTypes[type];
          const notificationContainer = document.getElementById('notification-container');
  
          const notification = document.createElement('div');
         
          notification.className = `slide-in ${notificationType.color} rounded-lg shadow-lg p-3 max-w-xs backdrop-blur-sm  blur-notify`;
  
          notification.innerHTML = `
             
              <p class="mb-3 flex items-center text-sm">
              <i class="${icon} text-md me-2"></i>
              ${message}</p>
              <div class="h-2 bg-gray-200 rounded-full overflow-hidden">
             
                  <div class="h-full ${notificationType.progressColor}" style="width: 0%;"></div>
              </div>
          `;
  
          notificationContainer.appendChild(notification);
  
          setTimeout(() => {
              notification.classList.remove('slide-in');
          }, 10);
  
          const intervalTime = 50; // Intervalo de actualización en milisegundos
          const totalIntervals = duration / intervalTime;
          let progress = 0;
          const progressBar = notification.querySelector('.h-full');
          console.log(progressBar); // Verificar que el elemento se selecciona correctamente
          const interval = setInterval(() => {
              progress += 100 / totalIntervals;
              progressBar.style.width = `${progress}%`;
              //console.log(`Progress: ${progress}%`); // Verificar que el progreso se actualiza correctamente
              if (progress >= 100) {
                  clearInterval(interval);
                  setTimeout(() => {
                      notification.classList.add('slide-out');
                      setTimeout(() => {
                          notification.remove();
                      }, 500);
                  }, 500);
              }
          }, intervalTime);
      }
  </script>
    
    <script src="{% static 'js/flyonui.js' %}"></script>
    <script src="{% static 'js/change_theme.js' %}"></script>
    <script src="{% static 'js/notyf.min.js' %}"></script>
     <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

     {% comment %} <script src="{% static 'js/htmx.min.js' %}"></script> {% endcomment %}
     <script src="https://unpkg.com/htmx.org@1.9.10"></script>
     
     <script>
      window.addEventListener('load', function () {
        const animationButtons = document.querySelectorAll('.animation-button')
        const box = document.getElementById('animated-box')
    
        animationButtons.forEach(button => {
          button.addEventListener('click', () => {
            const animationClass = button.value
    
            // Remove all existing motion- classes
            const currentClasses = Array.from(box.classList)
            const motionClasses = currentClasses.filter(className => className.startsWith('motion-'))
            motionClasses.forEach(className => box.classList.remove(className))
    
            // Temporarily remove the animation class to re-trigger it
            void box.offsetWidth // Trigger reflow to allow re-adding the class
            box.classList.add(animationClass, 'motion-duration-1000')
          })
        })
      })
    </script>
</body>
</html>