<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 w-full items-center justify-around  sm:gap-8">
    <div id="animated-box" class=" self-center " data-aos="fade-up">
        <div class="stats w-100 ">
            <div class="stat w-full card btn-gradient btn-primary  text-primary-content">
              
              <div class="text-xl font-bold mb-1 text-primary-content">Donaciones</div>
              <p>Total de donaciones realizadas por los jugadores</p>
              <div class="text-end stat-title mt-4 text-primary-content"><h3 class="text-3xl font-bold">10 <span class="text-base">donaciones</span> </h3> </div>
              
            </div>
          </div>
      </div>
    <div id="animated-box" class=" self-center " data-aos="fade-up">
        <div class="stats w-100 ">
            <div class="stat w-full card btn-gradient btn-accent  text-primary-content">
              
                <div class="text-xl font-bold mb-1 text-primary-content">Jugadores obelis</div>
                <p>Total de donaciones realizadas por los jugadores</p>
                <div class="text-end stat-title mt-4 text-primary-content"><h3 class="text-3xl font-bold">10 <span class="text-base">donaciones</span> </h3></div>
                
              </div>
          </div>
      </div>
    
      <div id="animated-box" class=" self-center " data-aos="fade-up">
        <div class="stats w-100 ">
             <div class="stat w-full card  text-primary-content btn-gradient btn-warning">
              
              <div class="text-xl font-bold mb-1 text-primary-content">Jugadores Ra</div>
              <p>Total de donaciones realizadas por los jugadores</p>
              <div class="text-end stat-title mt-4 text-primary-content"><h3 class="text-3xl font-bold">10 <span class="text-base">donaciones</span> </h3></div>
              
            </div>
          </div>
      </div>
      <div id="animated-box" class=" self-center " data-aos="fade-up" >
        <div class="stats w-100 ">
             <div class="stat w-full card btn-gradient btn-error  text-primary-content">
              
              <div class="text-xl font-bold mb-1 text-primary-content">Jugadores Slifer</div>
              <p>Total de donaciones realizadas por los jugadores</p>
              <div class="text-end stat-title mt-4 text-primary-content"><h3 class="text-3xl font-bold">10 <span class="text-base">donaciones</span> </h3></div>
              
            </div>
          </div>
      </div>
      
      
  </div>

