{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="mb-3 flex justify-center">
    <div id="toggle-price-count" class="border-base-content/20 flex gap-0.5 rounded-btn border p-0.5">
      <label for="toggle-price-count-monthly" class="btn btn-sm btn-primary btn-text has-[:checked]:btn-active">
        <span>Mes</span>
        <input id="toggle-price-count-monthly" name="toggle-price-count" type="radio" class="hidden" checked="" />
      </label>
      <label for="toggle-price-count-annual" class="btn btn-sm btn-primary btn-text has-[:checked]:btn-active">
        <span>Año</span>
        <input id="toggle-price-count-annual" name="toggle-price-count" type="radio" class="hidden" />
      </label>
    </div>
  </div>
  
  <div class="grid grid-cols-1 items-center gap-2 xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 ">
    {% for subscription in subscriptions %}
    
    <div class="card  {% if subscription.popular %}bg-primary/10 border-primary{% else %}bg-base-200/20{% endif %}  border shadow-lg">
      {% if subscription.popular %}
        <div class="relative">
          <span class="badge  badge-primary absolute end-2 top-2">Popular</span>
        </div>
      {% endif %}
      
      <div class="card-body gap-3 text-center">
        <div>
          <span class="text-base-content text-xl font-medium ">{{subscription.name}}</span>
          <p class="text-sm">{{subscription.description}}</p>
        </div>
        <div class="text-primary flex justify-center items-center gap-x-1">
          <span class="text-base-content/80 text-base lg:text-xl pb-4 lg:pb-6">$</span>
          <p
            data-toggle-count='{
            "target": "#toggle-price-count",
            "min": {{subscription.month_price_CUP}},
            "max": {{subscription.discount_anual_price_cup}}
          }'
            class="text-4xl lg:text-5xl font-semibold">
            {{subscription.month_price_CUP}}
          </p>
          <span class="text-base-content/80 text-base lg:text-xl pt-4 lg:pt-6">CUP</span>
        </div>
        <ul class="text-sm space-y-3">
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="bg-primary/20 text-primary flex items-center justify-center rounded-full p-1">
              <span class="icon-[tabler--arrow-right] size-4 rtl:rotate-180"></span>
            </span>
            <span class="text-base-content/80 truncate">Unlimited responses</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="bg-primary/20 text-primary flex items-center justify-center rounded-full p-1">
              <span class="icon-[tabler--arrow-right] size-4 rtl:rotate-180"></span>
            </span>
            <span class="text-base-content/80 truncate">Unlimited forms & surveys</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="bg-primary/20 text-primary flex items-center justify-center rounded-full p-1">
              <span class="icon-[tabler--arrow-right] size-4 rtl:rotate-180"></span>
            </span>
            <span class="text-base-content/80 truncate">Instagram profile page</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="bg-primary/20 text-primary flex items-center justify-center rounded-full p-1">
              <span class="icon-[tabler--arrow-right] size-4 rtl:rotate-180"></span>
            </span>
            <span class="text-base-content/80 truncate">Google Docs integration</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="bg-primary/20 text-primary flex items-center justify-center rounded-full p-1">
              <span class="icon-[tabler--arrow-right] size-4 rtl:rotate-180"></span>
            </span>
            <span class="text-base-content/80 truncate">Custom Landing page</span>
          </li>
        </ul>
        <button class="btn btn-lg btn-gradient btn-primary mt-4">Solicitar</button>
      </div>
    </div>
    {% endfor %}
    
  </div>
{% endblock content %} 
