{% load static %}
  
    
      <div class="mx-auto max-w-7xl  sm:px-6 lg:px-8 flex justify-center items-center  mb-20">
        
        <div
  class="gap-14 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 justify-center  "
>

      <div class="w-100 flex flex-col justify-center items-center gap-4 mt-8">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center ">
            <img loading="lazy" src="{% static 'img/slifer.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-gray-600 opacity-40  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/slifer-toon.png' %}" class="character-2  character-slifer animate-cloud" />
        </div>
        <a href="{% url "shop_card" %}" class="btn btn-gradient btn-error">Cartas</a>
          
        
      </div>
      <div class="w-100 flex flex-col justify-center items-center gap-4 mt-8">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center ">
            <img loading="lazy" src="{% static 'img/obelis.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-sky-600 opacity-40  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/obelis-toon.png' %}" class="character-2  character-obelis animate-cloud" />
        </div>
        <a href="{% url "shop_deck" %}" class="btn btn-gradient btn-accent">Decks</a>
          
        
      </div>
      <div class="w-100 flex flex-col justify-center items-center gap-4 mt-8">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center ">
            <img loading="lazy" src="{% static 'img/ra.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-indigo-600 opacity-40  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/ra-toon.png' %}" class="character-2 character-ra animate-cloud" />
        </div>
        <a href="#" class="btn btn-gradient btn-warning disabled">Accesorios</a>
          
        
      </div>
      
     
       
      
      
    </div>
  </div>


</div>

<script src="{% static 'js/card_animate.js' %}"></script>
      </div>


                                            