{% load static %}
  
    
      <div class="mx-auto max-w-7xl  sm:px-6 lg:px-8 flex justify-center items-center  mb-20">
        
        <div
  class="gap-24 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-center  mt-24"
>
  
      <!-- Slide 1 --> 
      <div class="w-100 flex flex-col justify-center items-center gap-4 mt-8">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center ">
            <img loading="lazy" src="{% static 'img/toon/card/card-black-white-toon.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-gray-600 opacity-40  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/toon/black-white-toon.png' %}" class="character-2  " />
        </div>
        <a href="{% url "shop_card" %}" class="btn btn-gradient">Cartas</a>
          
        
      </div>
      <div class="w-100 flex flex-col justify-center items-center gap-4 mt-8">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center ">
            <img loading="lazy" src="{% static 'img/toon/card/card-ultimate-blue-eyes-toon.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-sky-600 opacity-40  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/toon/ultimate-blue-eyes-toon.png' %}" class="character-2  " />
        </div>
        <a href="#" class="btn btn-gradient btn-accent">Decks</a>
          
        
      </div>
      <div class="w-100 flex flex-col justify-center items-center gap-4 mt-8">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center ">
            <img loading="lazy" src="{% static 'img/toon/card/card-galaxy-photon-dragon-toon.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-indigo-600 opacity-40  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/toon/galaxy-photon-dragon-toon.png' %}" class="character-2  " />
        </div>
        <a href="#" class="btn btn-gradient btn-primary">Playmats</a>
          
        
      </div>
      <div class="w-100 flex flex-col justify-center items-center gap-4 mt-8">
        <div class="card-2 text-center">
          <div class="flex wrapper-2 relative justify-center items-center ">
            <img loading="lazy" src="{% static 'img/toon/card/card-black-rose-dragon-toon.jpg' %}" class="cover-image-2 rounded z-0   " />
            <div class="w-full h-full  absolute bg-red-800 opacity-80  rounded"></div>
          </div>
          
          
          <img loading="lazy" src="{% static 'img/toon/black-rose-dragon-toon.png' %}" class="character-2  " />
        </div>
        <a href="#" class="btn btn-gradient btn-error">Forros</a>
          
        
      </div>
     
       
      
      
    </div>
  </div>


</div>

<script src="{% static 'js/card_animate.js' %}"></script>
      </div>


                                            