{% load static %}
  
    
      <div class="mx-auto max-w-7xl  sm:px-6 lg:px-8 flex justify-center items-center my-3 p-3">
        
        <div class="grid grid-cols-1 gap-2 items-center lg:grid-cols-12 lg:gap32">
          <div class="w-full xl:col-span-6 lg:col-span-6 2xl:-mx-5 xl:-mx-0 ">
            
            <h1 class="pb-8 pt-4 text-center font-bold font-manrope text-4xl lg:text-5xl lg:text-left leading-[50px] relative">
              <span class="text-nowrap  ">Foro de </span>  <span class="text-nowrap font-bold 
            bg-gradient-to-r bg-clip-text  text-transparent 
            from-indigo-500 via-purple-500 to-indigo-500
            animate-text ">YuGi Faction</span>
            </h1>
            <p class="text-center lg:text-left sm:text-lg font-normal pb-5">
              Últimas noticias de interés para la comunidad. 
            </p>
           
          </div>
          <div class=" w-full xl:col-span-6 lg:col-span-6 " >
            <div
            id="auto-play"
            data-carousel='{ "loadingClasses": "opacity-0", "isCentered": true, "slidesQty": { "xs": 1, "lg": 2 } ,"isAutoPlay": true, "speed": 1500 }'
            class="relative w-full"
          >
            <div class="carousel h-80">
              <div class="carousel-body h-full opacity-0">
                <!-- Slide 1 -->
                <div class="carousel-slide px-1">
                  <div class="bg-base-200/50 flex h-full justify-center p-6">
                    <span class="self-center text-lg">Slider 1</span>
                  </div>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-slide px-1">
                  <div class="bg-base-200 flex h-full justify-center p-6">
                    <span class="self-center text-lg">Slider 2</span>
                  </div>
                </div>
                <!-- Slide 3 -->
                <div class="carousel-slide px-1">
                  <div class="bg-base-300 flex h-full justify-center p-6">
                    <span class="self-center text-lg">Slider 3</span>
                  </div>
                </div>
                <!-- Slide 4 -->
                <div class="carousel-slide px-1">
                  <div class="bg-base-200/50 flex h-full justify-center p-6">
                    <span class="self-center text-lg">Slider 4</span>
                  </div>
                </div>
                
              </div>
            </div>
          
            <!-- Previous Slide -->
            <button type="button" class="carousel-prev">
              <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
                <span class="icon-[tabler--chevron-left] size-5 cursor-pointer rtl:rotate-180"></span>
              </span>
              <span class="sr-only">Previous</span>
            </button>
            <!-- Next Slide -->
            <button type="button" class="carousel-next">
              <span class="sr-only">Next</span>
              <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
                <span class="icon-[tabler--chevron-right] size-5 cursor-pointer rtl:rotate-180"></span>
              </span>
            </button>
          </div>
          </div>
        </div>
      </div>


                                            